.about-wrapper {
    padding: 0 40px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    overflow: hidden;
    margin-top: 30px;
    padding-top: 30px;
}

.text-container h1 {
    font-size: 40px;
    color: #292929;
}

.text-container p {
    color: #4f4f4f;
}

.subtitle {
    font-weight: 400;
}

.description {
    line-height: 1.5;
    margin-bottom: 40px;
    font-style: italic;
}

.profile-pic {
    display: none;
}

button {
    margin-bottom: 20px;
    width: 100%;
}

@media only screen and (min-width: 768px){
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 0;
    }

    .profile-pic {
        background-image: url('src/assets/IMG_20191222_221848__01.jpg');
        background-size: cover;
        background-position: center;
        height: 350px;
        width: 450px;
        border-radius: 4px;
        display: block;
    }

    .subtitle {
        font-weight: lighter;
    }

    button {
        margin-right: 20px;
        width: 230px;
    }
}