<div class="about-wrapper">
  <div class="container">
    <div class="text-container">
      <h1>Anu Singh</h1>
      <p class="subtitle">Frontend Developer</p>
      <hr>
      <p class="description">"I am a frontend developer specialized in developing complex scalable web applications. I
        have worked on multiple projects of my own and for clients. I write technical blogs. Wish to know how I may help
        you with your project? Check out my project portfolio or resume."</p>
      <button mat-raised-button routerLink="/portfolio" routerLinkActive="active">View Portfolio</button>
      <button mat-raised-button routerLink="/resume" routerLinkActive="active">View Resume</button>
    </div>
    <div class="profile-pic">
    </div>
  </div>
</div>
<app-skills></app-skills>